<%= simple_form_for(@creolite) do |f| %>
  <div class="form-group">
    <%= f.label :soirée %>
    <%= f.text_field :soirée, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lieu %>
    <%= f.text_field :place, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :adresse %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <%= f.submit "Créer", class: 'btn btn-success' %>
  <%= link_to "Retour", creolites_path, class: 'btn btn-primary' %>
<% end %>

