<div class="creolite_page">
  <div id="horizontaletabs">
    <%= render 'shared/horizontale_tabs' %>
  </div>

  <div class="box-creolite-f">
    <div class="box-creolite-s">
      <div class="creolite">
        <% @creolites.each do |creolite| %>
          <div id="headband">
            <h2>Prochaine soirée</h2>
            <h3><%= creolite.name %></h3>
            <p><%= creolite.text %></p>
          </div>
          <div id="information">
            <div id="place">Lieux:</div>
            <div id="map">Map</div>
          </div>
        <% end %>
      </div>

      <div id="carousel">
        <%= render 'shared/carousel' %>
      </div>
    </div>

    <div id="verticaletabs">
      <%= render 'shared/verticale_tabs' %>
    </div>
  </div>
</div>
